<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ToDo</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <h1>Edit task</h1>

    <form method="post" action="/task/{{ task.key.id() }}/edit">
        <p><label>Task name: </label>
        <input class="task-edit-name" name="task2" value="{{ task.task }}" required></p>
        <p><label>Task description: </label>
        <textarea class="task-edit-area" name="description2" rows="7">{{ task.description }}</textarea></p>
        <p><label>Complete till: </label>
        <input class="task-edit-date" name="complete_till2" type="date" value="{{ task.complete_till }}"></p>
        <button>OK</button>
    </form>

    <a href="/"><button>Home</button></a>

</body>
</html>
